
<div class="row">
    <div class="col-4"></div>
    <div class="col-8 welcomemessage inktext">Welcome {{user.username}}</div>
</div>

<div class="row welcomerow">
    
    <div class="col-lg-7 maintext information">
        <br>Voting is easy. Just click on a poll name, select your answer and view the results! Couldn't be simpler.
        <br><br><div class="undertext"><span class="innertext">Want to create a poll? Easy, just go to 'create poll' and enter your questions and answers.</span></div>
        <br><br><div class="undertext textbottom"><span class="innertext">Decided your poll is stupid? Good, to delete it go to 'See My Polls' and simply press 'Delete' to consign 
            it to the dustbin of history.</span></div>
    </div>
    <div class="col-lg-5"><br><img class="ballot" src="/images/ballot.png"></div>

</div>

<div class="row bottomrow">

    <div class="welcomemessage votemessage inktext col-12">
        Get voting!
    </div>    

</div>           

<div class="indexfooter fixed-bottom">

    <div class="container-fluid">

        <div class="row">

            <div class="col-4 contact">Made by me.</div>
            <div class="col-8 contact">Contact Me - allystark@hotmail.co.uk</div>

        </div>    

    </div>

</div>
 
