<h2 class="page-header maintext">Account Login</h2>
<form method="post" action="/users/login">
    <div class="form-group">

        <label class="maintext">Username</label>
        <input type="text" class="form-control col-4 maintext" placeholder="Username" name="username">

    </div>    
    <div class="form-group maintext">
        <label>Password</label>
        <input type="password" class="form-control col-4 maintext" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-default maintext submitbutton">Submit</button>
</form>